<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2>
					Show the world what you've got!
				</h2>
				<h4>
					Studio owner? As a subscriber, you can create your own studio, invite artists to contribute to your collection, showcase your masterpieces, invite users to follow you and more! Subscribe now for only $10/month or save $20/year with an annual subscription.
				</h4>
				<p>
					<%= form_tag create_payment_method_path, id: "billing-create-payment-method" do  %>
										 <%= link_to "Subscribe", add_payment_method_path, remote: true, class: "btn btn-info" %>
									 <% end %>
				</p>
			</div>
		</div>
	</div>
</div>
