<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h1>
					Welcome to Studio Central!
				</h1>
				<h4>
					Browse your favorites studios, follow the greatest artists, upvote amazing masterpieces and fall in love with art of all kinds!
				</h4>
			</div>
		</div>
	</div>
</div>
