.user-name {
    margin-top: 3.5%;
    padding-right: 5px;
}

.jumbotron {
  background-image: url(asset-path('photo.jpg'));
  background-size: cover;
  background-position: center;
  height: 350px;
  margin-top: 15px;
}

.jumbotron h1, h2 {
  color: white;
  text-align: left;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron h4, h6 {
  color: white;
  font-size: 1.1em;
  text-align: left;
}

.d-flex {
  margin: 10px;
}

.btn {
  margin: 3px;
}

.showpage-image{
  max-height: 800px;
  max-width: 800px;
  overflow: hidden;
  margin: auto;
}
